


#form {
    padding: 20px;
    margin-top: 40px;
    min-height:345px;
}

#text-area {

}

#logo-container:hover{
    background-image: url('../awesome.jpg');
    background-size: 100px;
    width:100px;
    height:64px;
}
#logo-container:hover span{
    display:none;
}

.text-area {
    margin-bottom:0;
}
.text-area + .text-area {
    margin-top: 5px;
}
.hidden {
    display: none;
}
input.small-input {
    width: 80px;
    display:inline;
}
input.medium-input {
    width: 300px;
    display:inline;
}

.step-3-controls, .step-5-controls {
    margin-top: 10px;
}

#day-start-time {
    width: 100px;
    float:left;
}

.like-us {
    position:absolute;
    line-height:46px;
    margin-left: 20px;
}

#controls-container {
    float:right;
    width:20%;
    margin-top: -20px;
    margin-right: -20px;
}
#controls-container .collection{
    margin:0;
}
#step-container {
    width:80%;
}

.collection .collection-item.active {
    background-color: #d7512b;
    color: #eafaf9;
}

.awesome-red {
    background-color: #d7512b !important;
}
.awesome-red-text {
    color: #d7512b;
}
.collection-item {
    cursor: pointer;
}